In [1]:
import pandas as pd
import numpy as np

In [4]:
# Chargement du dataset d'entraînement
df_train = pd.read_csv("../data/train.csv")

# Afficher les premières lignes pour vérifier
df_train.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

In [5]:
# Ajouter Time_Index au début du DataFrame
df_train.insert(0, "Time_Index", df_train.index)
df_train.head()

,Time_Index,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
4,4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
5,5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

In [6]:
# Vérifier les colonnes du DataFrame
df_train.columns

Index(['Time_Index', 'date', 'Temperature', 'Humidity', 'Light', 'CO2',
       'HumidityRatio', 'Occupancy'],
      dtype='object')

In [7]:
# Afficher des infos sur le dataset
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8143 entries, 1 to 8143
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Time_Index     8143 non-null   int64
 1   date           8143 non-null   object
 2   Temperature    8143 non-null   float64
 3   Humidity       8143 non-null   float64
 4   Light          8143 non-null   float64
 5   CO2            8143 non-null   float64
 6   HumidityRatio  8143 non-null   float64
 7   Occupancy      8143 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 572.6+ KB

In [8]:
df_train.describe()

,Time_Index,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
count,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000
mean,4072.000000,20.619084,25.731507,119.519375,606.546243,0.003863,0.212330
std,2350.825954,1.016916,5.531211,194.755805,314.320877,0.000852,0.408982
min,1.000000,19.000000,16.745000,0.000000,412.750000,0.002674,0.000000
25%,2036.500000,19.700000,20.200000,0.000000,439.000000,0.003078,0.000000
50%,4072.000000,20.390000,26.222500,0.000000,453.500000,0.003801,0.000000
75%,6107.500000,21.390000,30.533333,256.375000,638.833333,0.004352,0.000000
max,8143.000000,23.180000,39.117500,1546.333333,2028.500000,0.006476,1.000000

In [9]:
# Supprimer la colonne "date" (non pertinente pour l'analyse)
df_train = df_train.drop(columns=["date"])
df_train.head()

   Time_Index  Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy
1           1        23.18   27.2720  426.0  721.25       0.004793          1
2           2        23.15   27.2675  429.5  714.00       0.004783          1
3           3        23.15   27.2450  426.0  713.50       0.004779          1
4           4        23.15   27.2000  426.0  708.25       0.004772          1
5           5        23.10   27.2000  426.0  704.50       0.004757          1

In [10]:
# X = features
X_train_raw = df_train.drop(columns=["Occupancy"])

# y = label
y_train = df_train["Occupancy"]

In [11]:
# Noramalisation des features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_raw)

In [12]:
# Diviser le dataset en ensembles d'entraînement et de validation
from sklearn.model_selection import train_test_split

X_train, X_val, y_train_final, y_val = train_test_split(
    X_train_scaled, y_train, test_size=0.2, random_state=42
)