In [1]:
import pandas as pd
import numpy as np

In [4]:
# Chargement du dataset d'entraînement
df_train = pd.read_csv("../data/train.csv")

# Afficher les premières lignes pour vérifier
df_train.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

In [5]:
# Ajouter Time_Index au début du DataFrame
df_train.insert(0, "Time_Index", df_train.index)
df_train.head()

,Time_Index,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
4,4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
5,5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

In [6]:
# Vérifier les colonnes du DataFrame
df_train.columns

Index(['Time_Index', 'date', 'Temperature', 'Humidity', 'Light', 'CO2',
       'HumidityRatio', 'Occupancy'],
      dtype='object')